<!DOCTYPE HTML>

<html>
	<head>
		<title>DOTOgether</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="/" class="logo">DOTOgether</a>
			</header>


		<!-- Two -->
			<section id="four" class="wrapper style1 special">
			<div class="inner" id="pasha" align="center">
			<form>
<div id="wb_Form1" >
<table id="rb"><h3>Выберите количество свободных мест</h3>
	<tr>
		<td>
			<div>
				<input type="radio" id="RadioButton1" name="knopar" value="on" checked style="display:inline-block" > <label for="RadioButton1">1 место</label>
			</div>
		</td>
	</tr>
<tr>
<td class="cell0"><div >
<input type="radio" id="RadioButton2" name="knopar" value="Одно место" style="display:inline-block;" > <label for="RadioButton2">2 места</label>
</div>
</td>
</tr>
<tr>
<td class="cell0"><div >
<input type="radio" id="RadioButton3" name="knopar" value="Одно место" style="display:inline-block;" > <label for="RadioButton3">3 места</label>
</div>
</td>
</tr>
<tr>
<td class="cell1"><div >
<input type="radio" id="RadioButton4" name="knopar" value="Одно место" style="display:inline-block;" ><label for="RadioButton4">4 места</label>
</div>
</td>
</tr>
</table>

</form>
</div>
				<br>
				<table  id="Table2"><h3>Выберите день недели для поездки</h3>
				<tr>
				<td class="cell0"><input type="submit" id="Button3" name="" value="Пн" >
				</td>
				<td class="cell0"><input type="submit" id="Button4" name="" value="Вт" >
				</td>
				<td class="cell0"><input type="submit" id="Button5" name="" value="Ср" >
				</td>
				<td class="cell0"><input type="submit" id="Button6" name="" value="Чт" >
				</td>
				<td class="cell0"><input type="submit" id="Button7" name="" value="Пт" >
				</td>
				<td class="cell0"><input type="submit" id="Button8" name="" value="Сб" >
				</td>
				<td class="cell1"><input type="submit" id="Button9" name="" value="Вск" >
				</td>
				</tr>
				</table>
				<input type="submit" id="Button1" name="" value="Cancel" >
				<a href="index6.html"><input type="submit" id="Button2" name="" value="Ok"></a>
				</form>
				</div>
				</section>	
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Южный Федеральный университет</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">+7(863)263-31-58</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">info@sfedu.ru</a></li>
						<li><span class="icon fa-map-marker"></span> 344006, г. Ростов-на-Дону, ул. Большая Садовая, 105/42</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; SmartTech
				</div>
			</footer>

			

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>