<!DOCTYPE HTML>

<html>
	<head>
		<title>DOTOgether</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="/" class="logo">DOTOgether</a>
			</header>


		<!-- Two -->
			<section id="three" class="wrapper style1 special">
			<div>
			<h1>Выберите роль</h1>
				<table align="center">
					<td class="p1"><a href="/passenger"><button><img src="/img/tipok.png" alt="" style="vertical-align:middle" width="50%" height="50%">Пассажир</button></a>
					</td>
					<td class="p1"><a href="/driver"><button><img src="/img/vodila.png" alt="" style="vertical-align:middle" width="50%" height="50%" >Водитель</button></a>
					</td>
				</table>
			</div>
			</section>				

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Южный Федеральный университет</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">+7(863)263-31-58</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">info@sfedu.ru</a></li>
						<li><span class="icon fa-map-marker"></span> 344006, г. Ростов-на-Дону, ул. Большая Садовая, 105/42</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; SmartTech
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>