<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Гараж</title>
	<style>
		html, body {padding: 0; margin: 0}
		.data {position: relative; left: 20px}
	</style>
</head>
<body>
	<h1>Продам гараж недорого</h1>
<script defer src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script defer src="/socket.io/socket.io.js"></script>
<script defer src="/app.js"></script>
</body>
</html>