<!DOCTYPE HTML>
<html>
	<head>
		<title>DOTOgether</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="/" class="logo">DOTOgether</a>
			</header>


		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner" id="pasha">
					<h1>Авторизация</h1>
						<input type="email" placeholder="Логин" class="tx"><br>
						<input type="password" placeholder="Пароль" class="tx">
						<a href="/menu" class="logo"><input type="submit" value="Вход" class="but"></a>
				</div>
			</section>	

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Южный Федеральный университет</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">+7(863)263-31-58</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">info@sfedu.ru</a></li>
						<li><span class="icon fa-map-marker"></span> 344006, г. Ростов-на-Дону, ул. Большая Садовая, 105/42</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; SmartTech
				</div>
			</footer>


		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>