<!DOCTYPE HTML>

<html>
	<head>
		<title>DOTOgether</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<a href="/" class="logo">DOTOgether</a>
			</header>


		<!-- Two -->
			<section id="two" class="style1 special">
					<div id="map"></div>
			</section>	
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<h2>Южный Федеральный университет</h2>
					<ul class="actions">
						<li><span class="icon fa-phone"></span> <a href="#">+7(863)263-31-58</a></li>
						<li><span class="icon fa-envelope"></span> <a href="#">info@sfedu.ru</a></li>
						<li><span class="icon fa-map-marker"></span> 344006, г. Ростов-на-Дону, ул. Большая Садовая, 105/42</li>
					</ul>
				</div>
				<div class="copyright">
					&copy; SmartTech
				</div>
			</footer>


		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.scrolly.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>
			<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
			<script>
				ymaps.ready(() => {
					var myMap = new ymaps.Map('map', {
						center: [47.237995, 39.712194], 
						zoom: 17
					}, {
						searchControlProvider: 'yandex#search'
					});

					var geolocation = ymaps.geolocation;

					geolocation.get({
							provider: 'browser',
							mapStateAutoApply: true
					}).then(function (result) {
							// Синим цветом пометим положение, полученное через браузер.
							// Если браузер не поддерживает эту функциональность, метка не будет добавлена на карту.
							result.geoObjects.options.set('preset', 'islands#blueCircleIcon');
							myMap.geoObjects.add(result.geoObjects);
					});
				});
			</script>
	</body>
</html>